.root{
    -fx-font-family:"Segoe UI";
    -fx-background-color:#ECEFF1;
}

.button{
    -fx-background-color:#1E3A8A;
    -fx-text-fill:white;
    -fx-background-radius:10;
    -fx-font-size:14;
    -fx-font-weight:bold;
    -fx-cursor:hand;
}

.button:hover{
    -fx-background-color:#2563EB;
}
.button:pressed{
    -fx-background-color: #0F172A;
}

